.menu-item {
  display: inline-block;
  margin: 4px;

  .image {
    width: 99px;
    height: 160px;
  }

  .rating {
    transform: rotateY(180deg);
    display: flex;
  }

  .rating input {
    display: none;
  }

  .rating label {
    display: block;
    cursor: pointer;
    width: 20px;
    // background: #ccc;
  }

  .rating label:before {
    content: "\f005";
    font-family: fontAwesome;
    position: relative;
    display: block;
    color: #ccc;
  }

  .rating label:after {
    content: "\f005";
    font-family: fontAwesome;
    position: absolute;
    display: block;
    color: #f5a623;
    top: 0;
    opacity: 0;
    transition: 0.5s;
  }

  .rating label:hover:after,
  .rating label:hover ~ label:after,
  .rating input:checked ~ label:after {
    opacity: 1;
  }
}

// .menu-item {
//   min-width: 30%;
//   height: 240px;
//   flex: 1 1 auto;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 1px solid black;
//   margin: 0 7.5px 15px;
//   overflow: hidden;

//   &:hover {
//     cursor: pointer;

//     & .background-image {
//       transform: scale(1.1);
//       transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
//     }

//     & .content {
//       opacity: 0.9;
//     }
//   }

//   &.large {
//     height: 380px;
//   }

//   &:first-child {
//     margin-right: 7.5px;
//   }

//   &:last-child {
//     margin-left: 7.5px;
//   }

//   .background-image {
//     width: 100%;
//     height: 100%;
//     background-position: center;
//     background-size: cover;
//   }

//   .content {
//     height: 90px;
//     padding: 0 25px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     border: 1px solid black;
//     background-color: white;
//     opacity: 0.7;
//     position: absolute;

//     .title {
//       font-weight: bold;
//       margin-bottom: 6px;
//       font-size: 22px;
//       color: #4a4a4a;
//     }

//     .subtitle {
//       font-weight: lighter;
//       font-size: 16px;
//     }
//   }
// }
