.collection-item {
  .image {
    width: 100%;
    height: 300px;
    background-size: cover;
    margin-bottom: 5px;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
  }
  .collection-footer {
    display: flex;
    justify-content: space-between;
  }
}
